.container {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    align-items: center;
    justify-content: center;
    width: 95%;
    scrollbar-width: none;
    min-height: 50px;  
}

.label {
    font-weight: bold;
}

.input {
    width: 120px;
    height: 30px;
    padding: 4px 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.select {
    width: 100px;
    padding: 4px 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.checkboxLabel {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
}

.hidden {
    display: none;
}
