.mainContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: none;
    max-height: 80vh;
}
.clear {
    border-radius: 12px;
    color: #555;
    padding: 4px;
    margin: 2px;

}

.none {
    padding: 4px;
    color: #555;
}

.clear:hover {
    background-color: #eee;
}

.unseenCount {
    position: absolute;
    color: white;
    font-weight: bold;
    background-color: #FF3B30;
    border-radius: 50px;
    text-align: center;
    padding: 0 2px;
    right: -4px;
    top: -4px;
}

.unseenCount:hover {
    cursor: pointer;
}

.button {
    border-radius: 50px;
    padding: 8px;
}

.button:hover {
    cursor: pointer;
    background-color: #ddd;
}

.messageContainer {
  display: flex;
  align-items: flex-start;
  background-color: white; 
  border-color: #555;
  border-radius: 12px;
  padding: 12px 16px;

  cursor: pointer;
}

.messageContainer:hover {
  background-color: #f0f0f0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;                      /* small gap between title and message */
}

.title {
  font-weight: 600;
  font-size: 12px;
  color: #111;
}

.text {
  font-size: 13px;
  color: #555;
  line-height: 1.4;
}

.unseen {
  background-color: #fff0f0;    /* very light red/pink for subtle highlight */
  border-left: 3px solid #ff7f7f; /* soft red accent */
  padding-left: 12px; 
}
