.container {
    display: flex;
    flex-direction: column;
    width: 95%;
    border-radius: 5px;
    margin: 5px;
    background: #fff;
    /* box-shadow: 0 2px 6px rgba(0,0,0,0.08); */
    border: 2px solid #e6e6e6;

}

.hoverable:hover  {
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}



.label {
    font-weight: bold;
}

.header {
    position: relative;
    display: flex;
    width: 100%;
    background: #fff;

}

.id {
    margin-right: 24px;
    margin-left: 4px;
}

.center {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    height: 40px;
}

.typeContent {
    position: absolute;
    right: 16px;
}

.processed {
    color: green;
}

.pending {
    color: #E0A800;
}

.type {
    border-radius: 50px;
    width: 90px;
    margin-left: 4px;
    margin-right: 16px;
    align-items: center;
    text-align: center;
    color: white;
    padding: 4px 8px;
    border: 2px solid var(--color-light-gray);
    cursor: pointer;
    font-family: 'Neue Montreal', sans-serif;
    font-size: 14px;
    font-weight: 500;
    
}

.amount {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.hidden {
    display: none;
}

.buttons {
    position: absolute;
    display: flex;
    right: 16px;
    gap: 8px;
}

.promotions {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100% - 112px;
    margin-top: 4px;
    margin-left: 112px;
    margin-right: 16px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    gap: 16px;
    font-family: 'Neue Montreal', sans-serif;
}

.promotion {
    border: 2px outset var(--color-primary-pink);
    border-radius: 12px;
    padding: 4px;
    width: auto;
    font-size: 12px;
    margin-bottom: 2px;
    text-align: center;
    
}

.remark {
    margin-left: 112px;
    font-size: 13px;
    font-weight: 500;            /* semi-bold for emphasis */
    color: #333;                 /* dark text for readability */
    text-transform: capitalize;  /* capitalizes first letter of each word */
    white-space: normal;         /* allows wrapping */
    word-break: break-word;      /* prevents overflow on long words */
    max-width: calc(100% - 100px);            /* optional width limit */
}

.footer {
    position: relative;
    display: flex;
}

.suspicious {
    position: absolute;
    right: 16px;
    color: red;
    font-weight: bold;
    font-size: 10px;
}

.creator {
    font-size: 10px;
}

.purchase {
    background-color: #d18544;
    border-radius: 10px;
}

.transfer {
    background-color: #c89e56;
    border-radius: 10px;
}

.redemption {
    background-color: #9676b3;
    border-radius: 10px;
}

.event {
    background-color: #487ca5;
    border-radius: 10px;
}

.adjustment {
    background-color: #ca665f;
    border-radius: 10px;
}

.eventName {
    font-weight: bold;
}

.scan {
    padding: 8px;
    border: 2px solid black;
    font-weight: bold;
    border-radius: 4px;
}

.scan:hover {
    border-color: #555;
    color: #555;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}