.container {
    display: flex;
    width: 100%;
    gap: 8px;
    overflow-x: auto;
    align-items: center;
    width: 95%;
    scrollbar-width: none;
    padding-bottom: 4px;
    margin-top: 8px;
}

.label {
    /* color: white; */
}

.id {
    width: 48px;
}

.amount {
    width: 64px;
}

.name {
    width: 80px;
}

.hidden {
    display: none;
}