.container {
  padding: 32px;
  text-align: center;
}

.welcome {
  margin-bottom: 40px;
}

.cardsContainer {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  min-width: 200px;
  max-width: 250px;
  padding: 24px;
  border-radius: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.statLabel {
  font-size: 18px;
  font-weight: bold;
}